<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @venue_type.description %>
</p>


<%= link_to 'Edit', edit_venue_type_path(@venue_type) %> |
<%= link_to 'Back', venue_types_path %>
