<h2>Upgrade Account</h2>

<%= form_for(:user, @user, :url => upgrade_path(@user)) do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<p><%= f.label :name %><br />
  <%= f.text_field :name, :value => "#{@fs_user.name}" %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, :value => @fs_user.contact.email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>
